html, body {
    background-color: #040008;
    overflow: hidden;
    padding: 0;
    margin: 0;
}

canvas {
    transform: translate(-50%, -50%);
    image-rendering: crisp-edges;
    image-rendering: pixelated;
    background-color: black;
    aspect-ratio: 16/9;
    position: absolute;
    display: block;
    left: 50%;
    top: 50%;
}